body {
  background-color: hsl(212, 45%, 89%);
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-size: 30px;
}
p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding-bottom: 20px;
}

img {
  max-width: 375px;
  max-height: 375px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Card {
  background-color: hsl(0, 0%, 100%);
  max-width: 420px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
  border-radius: 30px;
  padding-top: 20px;
}

footer {
  padding-top: 110px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
